@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <!--<h1 class="display-4">Welcome to Management Room App</h1>-->
    
</div>
<style>
    body{
        background-image: url(/images/immagine_campus_modificata.jpg);
    }
</style>
