@page
@model ManagementRoomApp.Pages.ManagementTokenModel
@{
    ViewData["Title"] = "Inserisci il codice";
}



<body style="margin: 0; padding: 0;" >

    <div style="margin-top : 140px">
        <h1 style="text-align: center;">INESRSCI QUESTO TOKEN PER APIRE LA PORTA</h1>
    </div>

    <div class="mx-auto" style="width: 400px;">
        <label class="form-label" style="font-weight: bold;font-size: 140px;">@Model.Code</label>

    </div>

</body>



<!--<label class="form-label" style="font-weight: bold;font-size: 140px;">@Html.DisplayFor(model => model.Code)</label>-->