@page
@model ManagementRoomApp.Pages.ManagementTokenModel
@{
    ViewData["Title"] = "Inserisci il codice";
}


<h1>INESRSCI QUESTO TOKEN PER APIRE LA PORTA</h1>

<label class="form-label" style="font-weight: bold;font-size: 140px;">@Html.DisplayFor(model => model.Code)</label>

