@page
@model ManagementRoomApp.Pages.TokenModel
@{
    ViewData["Title"] = "Inserisci il codice";
}

<body style="margin: 0; padding: 0;" >

    <div style="margin-top : 140px">
        <h1 style="text-align: center;">INSRISCI IL CODICE PER GENERARE IL TOKEN</h1>
    </div>
    
    <div class="mx-auto" style="width: 400px; margin-top : 50px">

        <form id="formGenerateCode" method="post" style="margin-top : 40px">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Code" class="form-control" aria-required="true"/>
                    <label asp-for="Input.Code" class="form-label">Code</label>
                </div>
                <div>
                    <button id="code-submit" type="submit" class="w-100 btn btn-lg btn-primary">OTTIENI TOKEN</button>
                </div>
            </form>
    </div>

</body>

<!--<p class="pippo">freeCodeCamp</p>-->
<!--<button onclick="changeColor('blue')" class="blue">Blue</button>-->

<script>
    /*
    const pippo = document.querySelector(".pippo");

    function changeColor(color) {
        pippo.style.display = "none";
    }
    */
</script>