@page
@model ManagementRoomApp.Pages.Buildings.ManagementBuildingsModel
@{
}


<div>
    <h1 style="text-align: center;">LISTA DEVICE</h1>
</div>
<a class="btn btn-primary btn-sm" href="/Users/DeleteUser?">NEW DEVICE</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID DEVICE</th>
            <th>EDIFICIO</th>
            <th>AZIONE</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var building in Model.Buildings)
        {
            <tr>              
                <td>@building.IdDevice</td>
                <td>@building.Name</td>
                <!--Se il numero è non è presente si visualizza il campo null e non 0-->
                <td>
                    <a class="btn btn-primary btn-sm">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Users/DeleteUser?Id=@building.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>