@page
@model ManagementRoomApp.Pages.TokenModel
@{
}

<style>
    body {
        background-image: url(/images/immagine_campus_modificata.jpg);
    }
</style>

<body>

    <div class="row" style="margin-top:100px">
        <div class="mx-auto" style="border-radius: 25px; background-color:orangered;width:600px;">
            <section>
                <div style="text-align:center; margin-top : 50px; margin-left:30px;margin-bottom : 50px; margin-right:30px">

                    <img src="/images/kindpng_1646889.png" width="170" height="200">

                    <h1>HAI SBAGLIATO CODICE</h1>
                </div>
            </section>
        </div>

</body>