@page
@model ManagementRoomApp.Pages.Accesses.ManagementAccessesModel
@{

}

<div>
    <h1>@ViewData["Title"]</h1>
    <h1 style="text-align: center;">LISTA ACCESSI UTENTE</h1>
</div>
<a class="btn btn-primary btn-sm" href="/Users/ManagementUsers">TORNA ALLA GESTIONE UTENTI</a>
<table class="table table-striped">
    <thead>
  <tr>
    <th>PORTA</th>
    <th>EDIFICIO</th>
    <th>DATA</th>
  </tr>
    </thead>
    <tbody>
        @foreach(var accesses in Model.Accesses)
        {
            <tr>
                <td>@accesses.NameDoor</td>
                <td>@accesses.NameBuilding</td>
                <td>@accesses.Date</td>

    </tr>
}
    </tbody>
</table>