@page
@model ManagementRoomApp.Pages.ManagementTokenModel
@{
    ViewData["Title"] = "Inserisci il codice";

    string token = Request.Query["token"];
}


<body style="margin: 0; padding: 0;" >

    <div style="margin-top : 140px">
        <h1 style="text-align: center;">INSERISCI QUESTO TOKEN PER APIRE LA PORTA</h1>
    </div>

    <div class="mx-auto" style="width: 400px;">
        <label class="form-label" style="font-weight: bold;font-size: 140px;">@token</label>
    </div>
</body>