@page
@model ManagementRoomApp.Pages.ManagementTokenModel
@{
    ViewData["Title"] = "Inserisci il codice";

    string token = Request.Query["token"];
}
<!--

<body style="margin: 0; padding: 0;" >

    <div></div>
    <div style="margin-top : 140px">
        <h1 style="text-align: center;">INSERISCI QUESTO TOKEN PER APIRE LA PORTA</h1>
    </div>

    <div class="mx-auto" style="width: 400px;">
        <label class="form-label" style="font-weight: bold;font-size: 140px;">@token</label>
    </div>

</body>

-->



<style>
    body {
        background-image: url(/images/immagine_campus_modificata.jpg);
    }
</style>

<body>

    <div class="row" style="margin-top:130px">
        <div class="mx-auto" style="border-radius: 25px; background-color:azure;width:600px;">
            <section>
                <div style="text-align:center; margin-top : 50px; margin-left:30px;margin-bottom : 50px; margin-right:30px">

                    <!--<img src="/images/kindpng_1646889.png" width="170" height="200">-->

                    <h1>INSERISCI QUESTO TOKEN PER APIRE LA PORTA</h1>

                        <div class="mx-auto" style="width: 300px;">
        <label class="form-label" style="font-weight: bold;font-size: 140px;">@token</label>
    </div>

                </div>
            </section>
        </div>

</body>